.cache
auto-save-list
elpa*
transient
.lsp-session-v1
.savehist
.smex-items
history
config.el
bookmarks
externs
projectile-bookmarks.eld
projectile.cache
server
recentf
tramp
.DS_Store
.youdao
url
bm-repository
.dap-breakpoints
.org-id-locations
tutorial/
***.elc
bak/
.extension/
eln-cache/
projects
session*
cnfonts
eshell/
network-security*
cache/
